{% extends "app/base.html" %}
{% load staticfiles %}
<html>
{% block content %}

<div>
    <p> Наслаждайтесь специально подобранными, успокаивающими, убаюкивающими мелодиями. Надеюсь, ваши заблудшие души обретут покой^^ </p>
</div>
{% for post in posts %}
        <p><a href="{% url 'post_detail' pkm=post.pk %}">{{ post.title }}</a></p>
            <h3>{{post.get_short_content|linebreaks}}</h3>
        <!--    {% if post.image.url|length > 0 %}
                {% if post.image != 'False' %}
                    <img style="max-width:30%" src="{{ post.image.url }}" >
                {% endif %}
            {% endif %}-->
{% endfor %}

{% endblock %}
</html>
