body {
    background: #809995;
    margin: 0px;
}

#imgtop {
    height: 23vh;
    width: 100%;
}

#menu {
	word-spacing: 1em;
}#menu li {
	display: inline-block;
	margin: 0px 15px;
	text-decoration: none;
    font-size: 32px;
}
#menu h1 {
    margin: 10px 0px;
}
#menu a {
    font-family: 'Amiri', serif;
    text-decoration: none;
    color: #ffffff;
}
#menu a:hover,
#menu a:focus {
    color: #78a7cf;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
}

#wrapper {
	max-width: 66%;
	min-width: 850px;
	margin: auto;
	background: #146A51;
}
table {
	background: #D5E0D2;
	min-height: 62vh;
	padding: 50px 90px;
}
.block {
    background: #B3DECA;
    border-right: 2px solid #999;
    border-bottom: 3px solid #999;
    border-radius: 9px;
	margin: 20px 10px;
    height: 100%;
}

li {
	margin-left: 5%;
    font-size: 22px;
}
p {
	padding: 10px 10px;
	margin: 20px 10px;
    font-size: 24px;
}

#bottom {
    font-size: 14px;
    color: #ffffff;
}



.image {
cursor:pointer;
height: 100px;
width: 100px;
margin: 10px;
}
.popup {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: none;
text-align: center;
}
.popup_bg {
background: rgba(0,0,0,0.4);
position: absolute;
background-repeat: repeat;
z-index: 1;
height: 100%;
width: 100%;
}
.popup_img {
position: relative;
z-index: 2;
max-height: 90vh;
margin: 2% 0 0 0;
}





