{% extends "app/base.html" %}
<html>
{% block content %}
<div>
    <p> Добро пожаловать на страницу "Постигни Дзен"!
Этот сайт для тех, кто грустит, злится или скучает. Именно здесь вы сможете успокоиться, расслабиться или развеселиться. Для этого у нас есть:</p>
    <ul>
        <li>Много музыки для узбагоения</li>
        <li>Много милых и забавных картинок с животными</li>
        <li>Всякие штуки и игры, в которые можно позалипать и хотя бы на некоторое время избавиться от скуки (Внимание! Опасно! Вызывает привыкание!)</li>
        <li>Заметки по йоге, которые помогут отвлечься от проблем и хорошо отдохнуть</li>
        <li>Возможность сжечь источник вашей грусти или гнева</li>
    </ul>
    <p> Сделай это! Постигни Дзен!</p>
</div>
{% endblock %}
</html>