<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <title>Zen</title>
    <link rel="shortcut icon" href="/static/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Amiri:400italic' rel='stylesheet' type='text/css'>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

	<div id="wrapper">
        <img id="imgtop" src="{% static 'images/Top.jpg'%}">
        <div align="center" id="menu"><h1>
            <ul>
                <li><img src="{% static 'images/paw.bmp'%}" height="37px" width="37px"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/picture">Pictures</a></li>
                <li><a href="/musicpost">Music</a></li>
                <li><a href="/yoga">Yoga</a></li>
                <li><a href="/fire">Fire</a></li>
            </ul>
        </h1></div>

        <table WIDTH="100%">
            <td WIDTH="27%" valign="top">

                {% block music %}{% endblock %}

                <div class="block" align="center">
                    News:<hr>
                    Теперь вы можете выбрать один из нескольких <a href="/musicpost">альбомов</a> с расслаляющей музыкой<br><br>
                    Мы добавили первые статьи по <a href="/yoga">йоге</a><br><br>
                    Ура, теперь на сайте есть <a href="/picture">картинки</a><br><br>
                </div>
            </td>
            <td  valign="top">
                <div class="block">
                    {% block content %}{% endblock %}
                </div>
            </td>
        </table>

        <p id="bottom">Если сайт вам не помог, то пишите на <a href="mailto: arya.domina@gmail.com">почту</a>. </p>
	</div>
</body>
</html>
