{% extends "app/base.html" %}
<html>
{% block content %}
<div>
    <p> Добро пожаловать на страницу "Постигни Дзен"!
Этот сайт для тех, кто грустит, злится или скучает. Именно здесь вы сможете успокоиться, расслабиться или развеселиться. Для этого у нас есть:</p>
    <ul>
        <li>Много <a href="\music">музыки</a> для узбагоения;</li>
        <li>Много милых и забавных <a href="\picture">картинок</a> с животными;</li>
        <li><a href="\yoga">Заметки по йоге</a>, которые помогут отвлечься от проблем и хорошо отдохнуть;</li>
        <li>Возможность <a href="\fire">сжечь</a> источник вашей грусти или гнева.</li>
    </ul>
    <p> Сделай это! Постигни Дзен!</p>
</div>
{% endblock %}
</html>
